// colors
$color-primary: #7f7f9e;
$color-secondary: #c5c5c5;
$color-white: #f2f0f1;
$color-success: #6ecca3;
$color-warning: #e69b05;
$color-info: #4d7ca2;
$color-danger: #cf3939;
$color-shadow: #25262c;

// breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;