@use "variables" as v;
@use "mixins" as m;
@use "fonts";

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$color-clay;
    width:100%;
    margin: 2rem 0;
    padding: .5rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-shadow: v.$color-shadow 2px 2px 10px;
    display: inline-block;
    font-family: 'play';
    text-align: center;

    @include m.media (v.$sm-breakpoint){
        margin: 5rem 0;
        font-size: 6rem;
    }
}