@import 'variables';

.order{
    min-height: 100vh;
    background-image: './img/background1.jpeg';
}

.order--main{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.order--items{
    display: flex;
    flex-wrap: wrap;
    gap : 10px;

    div{
        width:150px;
        background-color: white;
    
        img{
            width: 100%;
        }
    }
    
}
.order--add{
   
    width: 500px;
    height: 300px;
    border: 1px solid $color-shadow;
    background-color: rgba(240, 248, 255, 0.8);
}

.order--total{
    background-color: $color-danger;
    border: color solid $color-shadow;
    color : white;
    width: fit-content;
    padding: 20px;
    
}
